*,
:before,
:after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   position: relative;
}

html {
   overflow-x: hidden;
   scroll-behavior: smooth;
}

body {
   background: linear-gradient(320deg, rgba(152, 251, 152, 1) 75%, rgba(110, 246, 110, 1) 100%);
   font-family: 'Montserrat', sans-serif;
}

#main {
   width: 100%;
   height: 100vh;

   display: flex;
   justify-content: center;
   align-items: center;

   .formWrapper {
      box-shadow: 0 0 1vmin rgba(0, 0, 0, 0.5);
      background-color: white;
      min-width: Min(95vw, 35em);
      min-height: Min(60vh, 35em);

      h1 {
         color: #98fb98;
         text-shadow: 0 0 5px black, 0 0 0.125em rgb(160, 160, 160);
         text-align: center;
         font-size: 3em;
         font-weight: 700;
         letter-spacing: 0.25em;
         padding-top: calc(2vmax + 1vmin);
      }

      form {
         padding: 2vmax 10%;
         display: flex;
         flex-flow: column nowrap;
         height: 100%;

         span {
            margin-block: 0.5vmin;
            color: rgba(0, 0, 0, 0.8);
            font-weight: 400;
         }

         input {
            flex: 1;
            margin-block: 1vmin;
            padding: 0.5em;
         }

         #username {
            flex: 1;
         }

         #password {
            flex: 1;
         }

         #submit {
            flex: 1;
         }
      }
   }
}
